:root{
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);

    --font: Poppins;
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: var(--font);
    background-image: url(images/bg-intro-desktop.png);
    background-color: var(--red);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    /* justify-content: center; */
}

.description{
    width: 70%;
    height: 30%;
    
    color: white;
}

h1{
    text-align: center;
}

.description p{
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}

.pricing-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-container{
    width: 70%;
    background-color: var(--blue);
    color: white;
    text-align: center;
    border-radius: 10px;
    border: none;
    box-shadow: ;
}